{{template "header.tmpl" .}}

<div class="max-w-md mx-auto bg-white p-8 rounded shadow-md">
    <h1 class="text-2xl font-bold text-center mb-4 text-gray-700">ログイン</h1>
    {{if .Error}}
    <div class="bg-red-100 text-red-700 p-4 mb-4 rounded">
        {{.Error}}
    </div>
    {{end}}
    <form action="/login" method="POST">
        <div class="mb-4">
            <label for="email" class="block text-gray-700">メールアドレス</label>
            <input type="email" id="email" name="email" class="w-full mt-1 p-2 border border-gray-300 rounded" required>
        </div>
        <div class="mb-4">
            <label for="password" class="block text-gray-700">パスワード</label>
            <input type="password" id="password" name="password" class="w-full mt-1 p-2 border border-gray-300 rounded" required>
        </div>
        <div class="text-center">
            <button type="submit" class="bg-gray-700 text-white px-4 py-2 rounded hover:bg-gray-800">ログイン</button>
        </div>
    </form>
</div>

{{template "footer.tmpl" .}}
